{% extends 'base.html.twig' %}

{% block title %}Métodos index{% endblock %}

{% block body %}
    <h1>Métodos de pago</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for metodo in metodos %}
            <tr>
                <td>{{ metodo.id }}</td>
                <td>{{ metodo.tipo }}</td>
                <td>
                    <a href="{{ path('app_metodos_show', {'id': metodo.id}) }}" class="btn btn-primary">Ver</a>
                    <a href="{{ path('app_metodos_edit', {'id': metodo.id}) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_metodos_new') }}" class="btn btn-primary">Agregar</a>
{% endblock %}
