{% extends 'base.html.twig' %}

{% block title %}Flores index{% endblock %}

{% block body %}
    <h1>Flores</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flore in flores %}
            <tr>
                <td>{{ flore.id }}</td>
                <td>{{ flore.tipo }}</td>
                <td>
                    <a href="{{ path('app_flores_show', {'id': flore.id}) }}" class="btn btn-primary">Ver</a>
                    <a href="{{ path('app_flores_edit', {'id': flore.id}) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flores_new') }}" class="btn btn-primary">Agregar</a>
{% endblock %}
