{% extends 'base.html.twig' %}

{% block title %}Compras{% endblock %}

{% block body %}
    <h1>Compras</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Método de Pago</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for compra in compras %}
            <tr>
                <td>{{ compra.id }}</td>
                <td>{{ compra.cliente }}</td>
                <td>{{ compra.producto }}</td>
                <td>{{ compra.metodo }}</td>
                <td>{{ compra.producto.precio }}</td>
                <td>
                    <a href="{{ path('app_compras_show', {'id': compra.id}) }}" class="btn btn-primary">Ver</a>
                    <a href="{{ path('app_compras_edit', {'id': compra.id}) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_compras_new') }}" class="btn btn-primary">Agregar</a>
{% endblock %}
